@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    max-height: 7rem;
    min-height: 7rem;
    background-color: rgb(35, 35, 35);
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: inherit;
}

.container img {
    height: 100px;
    width: 100px;
    margin: 1rem;
}

.search {
    width: 25rem;
    height: 3rem;
    border-radius: 2rem;
    padding: 1rem;
    color: black;
}